<launch>
  <rosparam command="load" file="$(find rovi_sim)/config.yaml" />
  <node pkg="rovi_sim" type="vstacker.py" name="" output="screen" />
  <node pkg="rovi" type="floats2pc" name="" args="bucket">
    <remap from="floats" to="/rovi/wp_floats" />
    <remap from="pc" to="/rsim/scene" />
  </node>
  <node pkg="rovi_sim" type="vcam.py" name="" output="screen" />
  <node pkg="rovi_sim" type="vrobo.py" name="" output="screen">
    <remap from="~param" to="/rsim" />
  </node>
</launch>
